@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
--fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    height: 560px;
    width: 100%;
    background-color: rgb(15, 28, 24);
    overflow-x: hidden;
    overflow-y: hidden; 
   }

   html {
    height: 500px;
    width: 100%;
   }

body {
    background: url('../Fundo\ 1.jpeg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
     
   }

   main {
    background: #11403b76;
    transform: translate(50%, -64.8%);
    border-radius: 1%;
    padding-top: 2px;
    background-size: cover;
    width: 50%;
height: 470.2px;
       }

       section#serv {
        text-align: left;
        padding: 15px;
        transform: translate(7px, -695px);
        display: grid;
        padding-top: 30px;
        }
        
        section#serv img {
        width: 60px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.434);
            }   
        
        section#serv img:hover {
        border: 2px solid rgba(255, 255, 255, 0.608);
        box-sizing: border-box;
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
        transition: transform 0.5s, border 0.5s;
        }

    section {
    height: 300px;
    }

section#eu {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-87px, -100px);
background: no-repeat;
-webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.497)); 
filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.403));

}

section#iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-105px, -170px);
    background: no-repeat;
        }

    section#redes-sociais {
        text-align: right;
        padding: 3px;
        
    }
    
    section#redes-sociais img {
     width: 39px;
     margin: 10px;
     border-radius: 50%;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.434);
    }
    
    section#redes-sociais img:hover {
        border: 2px solid rgba(255, 255, 255, 0.608);
        box-sizing: border-box;
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
        transition: transform 0.5s, border 0.5s;
    }

    nav {
        background-color: #11403b76;
        width: 100%;
        padding: 20px;
        text-align: center;
        padding-left: 10px;
    }
    
    nav a {
        text-decoration: none;
        color: rgb(225, 242, 241);
        font-weight: bold;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.499);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 12px;
    }
    
    nav a.in {
       border-right: 0.5px solid #11403b8a;
       padding: 25px;
       padding-bottom: 3px;
       padding-top: 3px;
       
    }
    
    nav a.sv {
        border-right: 0.5px solid #11403b8d;
        padding: 25px;
        padding-bottom: 3px;
        padding-top: 3px;
        
     }

          nav > a:hover {
        color: #ffffff;
        text-shadow: 1px 1px 5px rgb(255, 255, 255);
        font-size: 20px;
        transition: 0.5s;
        padding: 25px;
        }

#tt1 {
    text-decoration: none;
    color: rgb(225, 242, 241);
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.499);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px;

}

        #logo {
            position: relative;
            width: 100px;
            transform: translate(0%, 0%);
            filter: brightness(40%);
            filter: contrast(1500%);
                    }
#rodape {
transform: translate(-12px, -85px);
filter: brightness(60%);
filter: contrast(100%);
}

#st {
    transform: translate(-96px, -161px);
position: absolute;
background-repeat: no-repeat;
top: 50%;
left: 50%;
}

